.p6o-welcome-wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgba(0,0,0,0.65);
  z-index:99;

  .p6o-welcome {
    padding:10px;
    background-color:#fff;
    pointer-events:all;
  }

}