@import './cards/FullscreenImage';

.cardstack {
  position:relative;
  width:440px;
  overflow:hidden;
  @include rounded-corners(3px);
  @include box-shadow(0, 0, 12px, 0.45);

  .p6o-new-tab-hint {
    display:block;
    padding:2px 0 4px 0;
    color:#626262;
    font-size:13px;
    text-decoration:none;
  }

  .card {
    width:440px;

    .p6o-node-types {
      margin:0;
      padding:4px 0;
      text-transform:capitalize;
    }

    .p6o-node-types:empty {
      display:none;
    }

    footer {
      font-size:15px;
      padding:15px 18px;
      background-color:#f7f7f7;
      border-top:1px solid #e9e9e9;
      @include rounded-corners-bottom(3px); 
    }

  }

  .card.next {
    position:absolute;
    top:0;
    left:0;
    max-height:800px;
    overflow:hidden;
    z-index:3;
  }

  .card.current {
    position:relative;  
    z-index:2;
  }

  .card.previous {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }

}

.cardstack .card .p6o-selection-card {
  @include rounded-corners(3px);

  header {
    border-radius:3px 3px 0 0;
    padding:5px 8px;
    font-size:20px;
    display:flex;
    align-items:center;
    @include rounded-corners-top(3px);

    button {
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:22px;
      color:#fff;
    }

  }

}

.cardstack .card .p6o-selection-itemlistcard {

  header {
    justify-content:space-between;

    h1 {
      color:#fff;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      font-size:16px;
      max-width:320px;
    }

  }

  ul {
    background-color:#fff;
    list-style-type:none;
    margin:0;
    padding:0; 
    position:relative;
  }

  ul.p6o-link-groups-container {
    max-height:400px;
    overflow-y:auto;
    max-width:100%;
    overflow-x:hidden;
    min-height:100px;
  }

  li.p6o-link-group {

    h2 {
      font-weight:normal;
      padding:15px 10px;
      font-size:16px;
      display:flex;
      justify-content:center;
      align-items:center;
      border-bottom:1px solid #e9e9e9;
    }

    ul {
      background-color:#f7f7f7;
      border-bottom:1px solid #e9e9e9;
    }

    .p6o-link-group-label {
      margin-left:8px;
      flex:1;
      font-size:15px;
    }

    svg {
      color:#4f4f4f;
      font-size:20px;
    }

  }

  li.p6o-link-group.closed:last-child {

    h2 {
      border:none;
    }

  }

  li.p6o-link-group.open:last-child {

    ul {
      border:none;
    }

  }

  li.p6o-link:first-child {
    border-top:none;
  }

  li.p6o-link {
    border-top:1px solid #e9e9e9;
    width:100%;
    box-sizing:border-box;    
  }

  .p6o-link-icon {
    flex-basis:40px;
    flex-shrink:0;
    text-align:center;

    img {
      max-width:25px;
      max-height:25px;
      vertical-align:middle;
      @include rounded-corners(3px);
    }

    svg {
      color:#626262;
      font-size:25px;
      vertical-align:middle;
      padding:0 4px;
    }

    .p6o-link-placeholder {
      display:inline-block;
    }

    .p6o-link-placeholder-inner {
      padding:5px;
      background-color:#858585;
      font-size:16px;
      font-weight:bold;
      height:1em;
      width:1em;
      display:flex;
      justify-content:center;
      align-items:center;
      color:#fff;
      @include rounded-corners(2px);
    }

  }

  li.p6o-link-internal {
    position:relative;
    cursor:pointer;

    .p6o-internal-link-meta {
      padding:15px;
      overflow:hidden;

      h3, h4 {
        margin:0;
        padding:0;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }

      h3 {
        font-weight:normal;
      }

      h4 {
        font-size:14px;
      }

      p.p6o-node-types {
        padding:0;
      }

    }

    svg {
      flex-basis:30px;
      flex-shrink:0;
      font-size:27px;
      padding:0 15px 0 5px;
      cursor:pointer;
    }

  }

  li.p6o-link-internal > div {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
  }

  li.p6o-link-external {
    display:flex;
    align-items:center;

    .p6o-external-link-meta {
      padding:15px;
      width:100%;
      overflow:hidden;
 
      a {
        text-decoration:none;
        color:#626262;
        font-size:14px;
        margin-left:8px;
        display:block;
        white-space:nowrap;
      }

      a.p6o-external-link-label {
        text-overflow:ellipsis;
        overflow:hidden;
      }

      a.p6o-external-link-host {
        font-weight:bold;
      }

      a:hover {
        text-decoration:underline;
      }
    
    }

  }

  footer {
   
    svg {
      font-size:18px;
      vertical-align:text-top;
      padding-right:5px;
    }

  }

}

.cardstack .card .p6o-selection-itemcard {

  .p6o-selection-content {
    background-color:#fff;
    @include rounded-corners-bottom(3px); 
  }
  
  .p6o-selection-header-image {
    width:100%;
    height:140px;
    background-size:cover;
    background-position:center;
    position:relative;

    .p6o-selection-header-image-accreditation {
      position:absolute;
      bottom:5px;
      left:20px;
      color:#fff;
      font-size:13px;
      font-weight:bold;
      text-shadow:0 0 2px #000;
    }

    .p6o-selection-header-image-btn-full {
      position:absolute;
      top:6px;
      right:6px;
      width:24px;
      height:24px;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size:16px;
      color:#000;
      background-color:rgba(255,255,255,0.8);
      @include rounded-corners(2px);
    }

  }

  main {
    border-top:1px solid #e9e9e9;
    padding-bottom:20px;

    .p6o-selection-main-fixed {
      padding:10px 20px 0 20px;
    }

    h1, h2 {

      a {
        color:#333;
        text-decoration:none;
      }

      a:hover {
        text-decoration:underline;
      }
  
    }

    h1 {
      padding-top:5px;
      font-size:16px;
    }

    h2 {
      padding-top:2px;
      font-size:13px;
      font-weight:normal;

      svg {
        padding-left:2px;
        font-size:14px;
        vertical-align:text-top;
        position:relative;
        top:2px;
      }

    }

    .p6o-source-link {
      margin-top:8px;
      padding:2px 8px;
      background-color:#646464;
      cursor:pointer;
      @include rounded-corners(3px);

      a {
        color:#fff;
      }

      h2 a {
        font-weight:bold;
      }
    }

    p.when {
      font-size:13px;
      padding:0;
      margin:4px 0 0 0;

      svg {
        font-size:16px;
        vertical-align:text-bottom;
      }

    }

    .p6o-selection-main-flex {
      max-height:160px;
      overflow-y:auto;     
    } 

    .p6o-selection-description {
      padding:0 20px;
      font-size:13px;
    }

  }

  footer {

    .p6o-selection-related-records {

      button {
        color:#fff;
        font-size:15px;
        padding:8px;
        background-color:#646464;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        @include rounded-corners(3px);
      }

      span:hover {
        text-decoration:underline;
      }

      svg {
        font-size:22px;
        vertical-align:bottom;
      }

    }

    .p6o-selection-related-records.disabled {
      color:#9f9f9f;
      font-size:15px;

      span:hover {
        text-decoration:none;
      }
    }

  }

}