.p6o-hud-button {
  border:1px solid rgba(0,0,0,0.2);
  z-index:98;
  cursor:pointer;
  background-color:#fafafa;
  box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 12px rgba(0,0,0,0.35);
}

.p6o-hud-button:hover {
  background-color:#fff;
  box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 12px rgba(255,255,255,0.2);
}

.p6o-hud {
  color:#3e3e3e;

  .p6o-magic-button {
    position:absolute;
    top:20px;
    left:20px;
    width:60px;
    height:106px; // Defines the position of tour marker!
  }

  .p6o-search-button,
  .p6o-filters-button,
  .p6o-share-button {
    position:absolute;
    color:#3e3e3e;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid rgba(0,0,0,0.2);
    z-index:98;
    @include rounded-corners(50%);
  }

  .p6o-search-button {
    top:0;
    left:0;
    width:60px;
    height:60px;
    font-size:34px;
    background-color:#fafafa;
    box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 4px rgba(0,0,0,0.2);
  }

  .p6o-search-button:hover {
    background-color:#fff;
    box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 12px rgba(255,255,255,0.2);
  }
  
  .p6o-filters-button {
    top:1px;
    left:1px;
    width:58px;
    height:104px;
    background-color:#f7f7f7;
    font-size:20px;
    padding-top:55px;
    z-index:97;
    box-shadow:0px -2px 2px rgb(0,0,0,0.05), 0 0 12px rgba(0,0,0,0.35);
    @include rounded-corners(30px);

    .p6o-filters-badge {
      color:#fff;
      background-color:#ff0000;
      font-size:10px;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:bold;
      width:16px;
      height:16px;
      display:flex;
      justify-content:center;
      align-items:center;
      position:absolute;
      bottom:26px;
      right:6px;
      @include rounded-corners(50%);
    }

  }

  .p6o-share-button {
    top:116px;
    left:0;
  }

  .p6o-filters-button:hover {
    background-color:#fff;
  }

}

@import './ShareLink';
@import 'search/SearchPanel';
@import 'search/Facets';
@import 'search/More';
@import 'search/Filters';