.mobile .p6o-hud-button {
  border:1px solid rgba(0,0,0,0.2);
  z-index:98;
  cursor:pointer;
  background-color:#fafafa;
  box-shadow:0 0 6px rgba(0,0,0,0.2);
}

.mobile .p6o-hud-button:hover {
  background-color:#fff;
  box-shadow:0 0 6px rgba(0,0,0,0.2);
}

.p6o-mobile-hud {
  position:absolute;
  top:-40px;
  left:0;
  width:100%;
  background-color:#fff;
  display:flex;
  align-items:stretch;
  @include box-shadow(0, 0, 6px, 0.2);

  button.p6o-mobile-hud-filter-toggle {
    display:inline-block;
    padding:14px;
    border:none;
    outline:none;

    .p6o-mobile-hud-filter-toggle-icon {
      font-size:22px;
    } 

    .p6o-mobile-hud-filter-toggle-arrow {
      font-size:8px;
      transform:rotate(180deg);
      position:relative;
      top:4px;
      left:-2px;
    }
  }

  .p6o-mobile-hud-searchinput {
    display:inline-block;
    flex:1;
    position:relative;

    input {
      background-color: #f4f4f4;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding:12px;
      font-size: 18px;
      outline: none;
      border: none;
    }

  }

}