.p6o-mobile-hud {
  position:absolute;
  top:-40px;
  left:0;
  width:100%;
  background-color:#fff;
  display:flex;
  align-items:stretch;
  @include box-shadow(2px, 2px, 6px, 0.2);

  button.p6o-mobile-hud-filter-toggle {
    display:inline-block;
    padding:14px;
    border:none;
    outline:none;
    box-shadow:inset 0 -3px 3px rgb(0, 0, 0, 0.08);

    .p6o-mobile-hud-filter-toggle-icon {
      font-size:22px;
    } 

    .p6o-mobile-hud-filter-toggle-arrow {
      font-size:8px;
      transform:rotate(180deg);
      position:relative;
      top:4px;
      left:-2px;
    }
  }

  .p6o-mobile-hud-searchinput {
    display:inline-block;
    flex:1;
    position:relative;

    input {
      background-color: #f4f4f4;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding:12px;
      font-size: 18px;
      outline: none;
      border: none;
      box-shadow: inset 1px -3px 3px rgb(0, 0, 0, 0.08);
    }

  }

}