.p6o-map-container {
  position:relative;
  height:100vh;
  transition:all;

  .p6o-zoom {
    position:absolute;
    right:20px;
    top:20px;
    z-index:98;
    
    .p6o-zoom-btn {
      width:50px;
      height:50px;
      margin-bottom:15px;
      background-color:#f4f4f4;
      border:1px solid rgba(0,0,0,0.2);
      box-shadow:inset 2px 3px 18px #fff, inset -2px -3px 3px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.35);
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:30px;
      cursor:pointer;
      @include rounded-corners(50%);
    }

  }

  .p6o-map-hover {
    position:absolute;
    background-color:#fff;
    padding:10px 12px;
    max-width:500px;
    @include rounded-corners(2px);
    @include box-shadow(2px, 2px, 14px, 0.4);
  }

}

.p6o-map-container.hover * {
  cursor:pointer;
}

.p6o-map-container.loading {
  filter:blur(10px) grayscale(100%) contrast(0.8); // contrast(1.4);

  .p6o-hud {
    display:none;
  }

}