.p6o-search-autosuggest {
  position: absolute;
  left: 0;
  right: 3px;
  margin-left: 40px;
  box-sizing: border-box;
  background-color: #fff;
  @include rounded-corners-bottom(3px);
  @include box-shadow(0, 0, 4px, 0.3);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 12px 10px 12px 12px;
    border-bottom: 1px solid #dfdfdf;
    pointer-events: all;
    cursor: pointer;

    em {
      font-weight: bold;
      font-style: normal;
      color: #000;
    }
  }

  li:hover,
  li.selected {
    background-color: #ededed;
  }

  li:last-child {
    border-bottom: none;
    @include rounded-corners-bottom(3px);
  }

}