.p6o-facets-container {
  width:100%;
  box-sizing:border-box;
  padding:0 5px 0 20px;

  .p6o-facets {
    color:#5c5c5c;

    .p6o-facets-carousel {
      display:flex;
      width:100%;
      box-sizing:border-box;
      align-items:center;
      justify-content: space-between;
      background-color:#fff;
      padding:6px;
      margin:20px 0 10px 0;
      pointer-events:all;
      @include rounded-corners(3px);
      @include box-shadow(0, 0, 4px, 0.25);

      h3 {
        padding:0;
        margin:0;
        font-size:14px;
        text-transform:capitalize;
      }

      button {
        font-size:22px;
        display:flex;
        color:#5c5c5c;
      }
    }

    ul {
      list-style-type:none;
      margin:5px 0 0 0;
      padding:0;
    }

    li {
      margin-bottom:5px;
      display:block;
      pointer-events:none;

      .p6o-facet-value-wrapper {
        display:inline-block;
        white-space:nowrap;
        background-color:#fff;
        max-width:100%;
        overflow:hidden;
        pointer-events:all;
        @include rounded-corners(3px);
        @include box-shadow(0, 0, 4px, 0.25);
       
        span {
          display:inline-block;
          padding:8px 12px;
        }

        span.p6o-facet-value-count {
          width:40px;
          text-align:center;
          color:#fff;
          font-weight:bold;
        }

        span.p6o-facet-value-label {
          text-transform:capitalize;
        }

      }
    }

    li.p6o-facet-values-remaining {

      .p6o-facet-value-wrapper {
        margin-top:5px;
        @include rounded-corners(2em);

        span {
          padding:6px 12px 6px 8px;
        }
        
        svg {
          font-size:20px;
          vertical-align:text-bottom;
        }

      }

    }

  }

}