.p6o-hud-filters-container {
  background-color:#f6f6f6;
  position:relative;

  ul {
    margin:0;
    padding:0;
    list-style-type:none;
  }

  li.p6o-hud-filter-group {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    border-bottom:1px solid #dfdfdf;

    svg {
      font-size:20px;
      cursor:pointer;
    }

  }

}