.p6o-facets-container.p6o-more-facet-values-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color:rgba(0,0,0,0.9);
  padding:40px 0;
  overflow-y:scroll;
  z-index:99;

  .p6o-facets {
    max-width:800px;
    margin:0 auto;

    h1 {
      text-transform:capitalize;
      color:#fff;
      font-weight:normal;
      font-size:22px;
      padding-bottom:10px;
    }

    .p6o-more-facet-values-buttons {
      position:fixed;
      top:10px;
      right:25px;

      button {
        color:#fff;
        font-size:17px;
        margin-left:20px;

        svg {
          font-size:35px;
          vertical-align:middle;
        }

      }
  
    }

  }

}