.p6o-hud-searchpanel {
  position:absolute;
  left:50px;
  top:22px;
  z-index:0;
  pointer-events:none;

  .p6o-hud-searchinput {
    padding-left:47px;
    height:40px;
    box-sizing:border-box;
    background-color:#fcfCfc;
    box-shadow:inset -1px -1px 2px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.3);
    border-radius:4px;
    position:relative;
    z-index:2;
    pointer-events:all;
    
    input {
      font-size:18px;
      outline:none;
      border:none;
      width:100%;
      height:100%;
      box-sizing:border-box;
      background-color:transparent;
    }

    input::placeholder {
      color:#b3b3b3;
    }

  }

  .p6o-hud-searchtoolbar {
    width:100%;
    padding:0 5px 0 45px;
    box-sizing:border-box;
    color:#5c5c5c;
    z-index:1;
    pointer-events:all;

    .p6o-hud-searchtoolbar-body {
      @include rounded-corners-bottom(3px);
      
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .2);
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, .2);
          box-shadow:0 1px 4px rgba(0, 0, 0, .2);
    }

    .p6o-hud-searchtoolbar-footer {
      display:flex;
      background-color:#f8f8f8;
      border-top:1px solid #dfdfdf;           
      @include rounded-corners-bottom(3px);
    }

    .p6o-hud-searchtoolbar-resultcount {
      flex-grow:1;
      display:flex;
      padding-left:10px;
      align-items:center;
      font-size:14px;
      font-weight:normal;
      white-space:nowrap;
      overflow:hidden;
      padding:7px 12px;
    }

    .p6o-hud-searchtoolbar-resultcount.none {
      background-color:#f9e6d3;
      @include rounded-corners-bottom(3px);
    }

    .p6o-hud-searchtoolbar-btn {
      flex-basis:40px;
      text-align:center;
      border-width:0 0 0 1px;
      border-style:solid;
      border-color:#dfdfdf;
      padding-top:5px;
      color:#5c5c5c;
    }

    .p6o-hud-searchtoolbar-btn-list {
      font-size:22px;
    }

    .p6o-hud-searchtoolbar-btn-dig {
      font-size:24px;
    }

  }

}

@import './Autosuggest';